
$color-black: #393e46;
$color-red: #f33535;
$color-green: #17b978;
$color-green-2: #7bc74d;
$color-yellow: #f7b633;
$color-yellow-2: #ffd96a;
$color-white: #fff;
$color-white-2: #eeeeee;

.content {
    margin-left: 150px; margin-top: 50px;
    .note-form {
        width: 700px; min-height: 110px; margin: 0 auto; padding: 10px; background-color: $color-black;
        #input-title {
            width: 680px; padding: 10px; border: 1px solid $color-white;
            &:focus { box-shadow: 0 0 0 0; border: 1px solid $color-white; outline: 0; }
            &.invalid {
                border: 1px solid $color-red;
            }
        }
        #input-content {
            width: 680px; padding: 10px; border: 1px solid $color-white;
            &:focus { box-shadow: 0 0 0 0; border: 1px solid $color-white; outline: 0; }
            &.invalid {
                border: 1px solid $color-red;
            }
        }
        .btns-color {
            width: 50%; float: left;
            div {
                float: left; width: 22px; height: 22px; margin: 10px 8px 0px 0px; border: 2px solid $color-white; border-radius: 20px; cursor: pointer;
            }
            .btn-white {
                background-color: $color-white-2;
            }
            .btn-red {
                background-color: $color-red;
            }
            .btn-green {
                background-color: $color-green;
            }
            .btn-yellow {
                background-color: $color-yellow;
            }
            .btn-black {
                background-color: $color-black;
            }
            .selected {
                border: 2px solid $color-red;
            }
        }
        .btns {
            width: 50%; float: left; text-align: right;
            button {
                border: none; padding: 10px 15px; margin: 5px -2px 0px 0px; cursor: pointer; font-weight: bold;
            }
        }
        @media ( max-width: 699px ) {
            
        }
    }
    .notes {
        margin: 60px 100px 0px 100px;
        .note {
            width: 260px; float: left; margin: 0px 10px; padding: 10px;
            h2 { margin: 0px; margin-bottom: 10px; }
            p { margin: 0px; min-height: 80px; }
            .note-btns {
                float: right; margin-top: 6px;
                a {
                    padding: 6px 10px; cursor: pointer; background-color: $color-red; color: $color-white;
                    &:hover {
                        background-color: $color-red;
                    }
                }
            }
            .note-content {
                padding: 15px;
            }
            .notecard-black {
                background-color: $color-black; color: $color-white;
            }
            .notecard-red {
                background-color: $color-red; color: $color-white;
            }
            .notecard-green {
                background-color: $color-green; color: $color-white;
            }
            .notecard-yellow {
                background-color: $color-yellow; color: $color-white;
            }
            .notecard-white {
                background-color: $color-white-2;
            }
        }
    }
}

.invalid {
    border: 1px solid $color-red;
}
